<div class='well'>
  <%= form_for @user do |f| %>
  <%= render 'shared/errors', obj: @user %>
  <div class='control-group'>
    <%= f.label :ユーザー名 %>
    <%= f.text_field :username %>
  </div>
  <div class='control-group'>
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit @user.new_record? ? "登録" : "更新", class: 'btn btn-success' %>
  <% end %>
</div>
