<%= render 'shared/errors', obj: @post %>

<div class='well'>
  <%= form_for @post do |f| %>
    <div class='form-group'>
      <%= f.label :Title, class: "col-sm-2 control-label" %>
      <%= f.text_field :title, class: "form-control",autofocus: true %>
    </div>  
    <div class='form-group'>
      <%= f.label :URL, class: "col-sm-2 control-label" %>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class='form-group'>
      <%= f.label :Description, class: "col-sm-2 control-label" %>
      <%= f.text_area :description, rows: 5, class: "form-control" %>
    </div>
    <div class='form-group'>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|%>
      <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
    </div>

    <br/>
    <br/>

    <%= f.submit(@post.new_record? ? 'Create' : 'Edit', class: 'btn btn-success')%>
  <% end %>
</div>