<div class='col-md-1 box'>
  <div class="inner">
    <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
      <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    <% end %>
    <br/>
    <span id='post_<%=post.slug%>_votes'><%= post.total_votes %> Votes</span>
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
      <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    <% end %>
   </div>
</div>
<div class='col-md-11 box'>
  <div class="inner">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>By: </span><%= link_to post.creator.username, user_path(post.creator) %>
      <small>　At: <%= display_datetime(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>
